* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202124;
}

.container {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  padding: 30px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 20px;
}

.form-row label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.form-row input[type="text"],
.form-row textarea,
.form-row input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

.form-row input[type="date"] {
  padding: 8px;
}

.form-row input[type="text"]:focus,
.form-row textarea:focus,
.form-row input[type="date"]:focus {
  border-color: #007bff;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #ff1744;
}

.todo-item {
  background-color: #ff5252;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item .delete-btn:hover {
  background-color: #ff1744;
}

.actions {
  margin-top: 10px;
  float: left;
  clear: left;
}

.items {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.item {
  background-color: #424242;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.item .item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  margin-left: 20px;
}

.item-wrapper {
  display: flex;
  align-items: center;
}

.item-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_name {
  flex: 1;
  margin-right: 10px;
}

.item-description {
  font-size: 16px;
}

.item-date {
  font-size: 14px;
  color: #ccc;
  flex-shrink: 0;
  margin-right: 8px;
}

.item.completed {
  text-decoration: line-through;
}